@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Ysabeau+Office:wght@300&display=swap');
*{
   margin: 0; 
}
.container{
    display: flex;
    flex-direction: row;
    height: 500px;
}
.graypart{
    background-color: #262626;
    width: 50%;
    color: white;
    padding-left:15%;
    padding-top: 2%;
}
.bluepart{
    background-color: #bee5f7;
    width: 50%;
    padding-right:15% ;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 70px;
}
.images{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 47%;
    left: 228px;
    right: 272px;
}
img{
    width: 180px;
}
p{
    font-family:'Ysabeau Office', sans-serif;
    font-size: 19px;
    color: #fffffffe;
    font-weight: lighter;
}